<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page. I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <%= tag.source(srcset: asset_path("cabinets2-m.jpg"), media: "(max-width: 600px)") %>
        <%= tag.source(srcset: asset_path("cabinets2.jpg"), media: "(min-width: 601px)") %>
        <%= image_tag "cabinets2.jpg", alt: "kitchen cabinets", width: 2500, height: 1667, loading: "lazy", decoding: "async", aria_hidden: true %>
    </picture>

</section>
