<button  data-controller="dark-mode" id="dark-mode-toggle" aria-label="dark mode toggle">
    <%= image_tag 'svgs/moon.svg', class: 'cs-moon', width: 480, height: 480 %>
    <%= image_tag "svgs/sun.svg", class: 'cs-sun', alt: 'sun', width: 15, height: 15, decoding: 'async', aria_hidden: true %>
</button>
