<% content_for :preload_image_path, asset_path("cabinets2.jpg") %>

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h"><%= title %></h1>
    <picture>
        <%= tag.source(srcset: asset_path("cabinets2-m.jpg"), media: "(max-width: 600px)") %>
        <%= tag.source(srcset: asset_path("cabinets2.jpg"), media: "(min-width: 601px)") %>
        <%= image_tag "cabinets2.jpg", alt: "kitchen cabinets", width: 2500, height: 1667, loading: "eager", decoding: "async", aria_hidden: true %>
    </picture>
</section>
