<!-- ============================================ -->
<!--            Reversed Side by Side             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">SEO Ranking</span>
            <h2 class="cs-title">Talk about a main service keyword</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
            </p>
            <a href="/blog" class="cs-button-solid">Read our Blog</a>
        </div>
    </div>
</section>
