<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <%= image_tag 'cabinets2.jpg', alt: 'cabinets', loading: 'lazy', decoding: 'async', width: 400, height: 563, srcset: { 'cabinets2-m.jpg': '(max-width: 600px)', 'cabinets2.jpg': '(min-width: 601px)' } %>
            </picture>
            <picture class="cs-picture cs-picture2">
                <%= image_tag 'construction.jpg', alt: 'house', loading: 'lazy', decoding: 'async', width: 400, height: 563, srcset: { 'construction-m.jpg': '(max-width: 600px)', 'construction.jpg': '(min-width: 601px)' } %>
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Company Title</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                </p>
                <span class="cs-name">Justin Time</span>
                <span class="cs-job">CEO-Founder</span>
                <%= image_tag 'svgs/quote-white.svg', alt: 'gavel', loading: 'lazy', decoding: 'async', width: 136, height: 77, class: 'cs-quote-icon' %>
            </div>
            <a href="/projects" class="cs-button-solid"><%= cta_button_text %></a>
        </div>
    </div>
</section>
