
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <span class="cs-topper">Our Reviews</span>
        <h2 class="cs-title">Words From Our Customers</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80" />
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16" />
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80" />
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16" />
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
    </div>
</section>
