
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <span class="cs-topper">Our Reviews</span>
        <h2 class="cs-title">Words From Our Customers</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <%= image_tag "profile5.png", class: "cs-item-img", loading: "lazy", decoding: "async", alt: "profile picture", width: 80, height: 80, aria_hidden: true %>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <%= image_tag "svgs/stars-yellow.svg", class: "cs-item-stars", loading: "lazy", decoding: "async", alt: "stars", width: 96, height: 16, aria_hidden: true %>            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                 <%= image_tag "profile-4.png", class: "cs-item-img", loading: "lazy", decoding: "async", alt: "profile picture", width: 80, height: 80, aria_hidden: true %>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <%= image_tag "svgs/stars-yellow.svg", class: "cs-item-stars", loading: "lazy", decoding: "async", alt: "stars", width: 96, height: 16, aria_hidden: true %>            </li>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
    </div>
</section>
